{% extends 'core/base.html' %}
{% load static %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg'%}" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Upload a video</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <form id="uploadForm" action="{{ request.path }}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group"><button class="btn btn-warning btn-xl" id="sendForm" type="submit">Send</button></div>
                            </form>
                        </div>
                    </div>
            </div>
        </header>
            <section class="page-section portfolio" id="generator">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Available videos</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->

                <div class="row">
                    {% for item in videos %}
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ forloop.counter }}">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                {% if item.thumbnail %}
                                    <img class="img-fluid" src="{{ item.thumbnail.url }}" alt="" />
                                {% else %}
                                    <img class="img-fluid" src="{% static 'assets/img/pending.png'%}" alt="" />
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>



{% for item in videos %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">
                                        <a href="{{ item.get_absolute_url }}">ID: {{ item.id }}</a>
                                    </h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    {% if item.thumbnail %}
                                        <img class="img-fluid rounded mb-5" src="{{ item.thumbnail.url }}" alt="" />
                                    {% endif %}
                                <p class="mb-5">
                                    STATUS: {{ item.status }}
                                </p>
                                    <button class="btn btn-warning" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                    <a href="{{ item.get_absolute_url }}">
                                        <button class="btn btn-primary">
                                            Show
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}
